.u-fcGreen{
  color: #17aeb6;

}
.c-title__main{
  color: #17aeb6;
}
.c-title__cross{
  color: #646464;
}
body{
  color: #333333;
}
.p-whitening__secttl{
  color: #666666;
}
header{
  text-align: center;
}
.c-button__push__btn{

  text-decoration: none;
  background: thistle;
color: #646464;
display: block;
width: 140px;
line-height: 44px;
margin: 40px auto 40px;
font-size: 14px;
font-weight: bold;
border-radius: 4px;
text-align: center;

transition-property: border-radius,transform, background;
transition-duration: 1s;
}

.c-button__push__btn:hover {
opacity: 0.9;
border-radius: 30%;
background-color: cadetblue;
color: #646464;
}

.u-fcPink{
  color: dodgerblue;
}

.p-whitening__topBorderSp--green{
  border-top: 1px solid #17aeb6;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  
}

.dddd{
  vertical-align:middle;

}

.c-box__more{
  border: #17aeb6 solid 3px;
  margin-left: 25px;
margin-right: 25px;
margin-top: 15px;
  font-size: 16px;
  /* padding: 25px 4% 15px; */
  position: relative;
  
}
.__boad{
  display: inline-block;
    position: absolute;
    top: -26px;
    left: -25px;
    background: #17aeb6;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;

  
}






.p-whitening__about__col--lef{
  margin-top: 45px;
}
/* 目次 */


 
  

.l-main__inner{
 
border: #17aeb6 3px solid;
margin-left: 167px;
margin-right: 167px;
color: #17aeb6;

}


nav li{
  list-style: none;

}

a{
  color: #666666;
 display: inline-block;
  text-align: left;
  transition-duration: .6s;
}

a:hover{
  color: dodgerblue;
}


.u-only__spPW2{
  /* background-color: black; */
  padding-left: 32px;
  padding-right: 32px;
}
.c-flx__col3-pc__item img{

  max-width: 480px;
}

.p-whitening__creaning--bgGreen{
  background-color: #d3f0f2;

margin-left: 10px;
}
.p-whitening__creaning--bgYellowGreen{
  background-color: mintcream;
  
  margin-left: 10px;
}

p{
  text-align: left;
  color: #666666;
}
.c-title__main{

  margin-top: 45px;
}

.p-whitening__creaning__ttl{
  flex:initial;
  
}

.l-main__inner-pconly{
  
  margin-left: 25px;
  margin-right: 25px;
}

.u-txtC{
  
  text-align: center;
}
.p-whitening__about__col{
  
margin-left: auto;
margin-right: auto;
  

}

.p-whitening__creaning{
  /* background-color: #666666; */
  display: flex;
  
  text-align: center;

}


.u-fs11{
  font-size: 11px;
  /* background-color: navy; */
}

.c-box__line--green{
  border: 1px solid #17aeb6;
  padding: 8px 12px;
  line-height: 1.8;
}

/* 歯が黄ばむ原因 */
.u-only__sp{
  width: 100%;
  
}

.u-mt8{
  width: 300px;

 
}


.u-fs10{
  font-size: 10px;
  text-align: right;
}

/* ホームホワイトニングスターターキット pタグ */
.u-fs14{
  font-size: 14px;
}


/* シェードガイド欄 */
.u-pw05{
  padding-left: 8px;
  padding-right: 8px;
}

/* よくある質問 */
.p-whitening__secttl{
  color: #666666;
  font-weight: 400;
  line-height: 1.5;
  font-size: 26px;
}

.u-secColor--1 ul{
  list-style: none;
padding: 0;}

.p-whitening__fqalist li{
  padding: 20px 30px 20px 45px;
  background-color: #fff;
}
  .p-whitening__fqalist li .fqa-ttl{
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
  }

  .p-whitening__fqalist li .fqa-ttl::before{
  content: "Q.";
  color: blueviolet;
font-family: "Lato" ,sans-serif;
top: 0;
margin-left: -36px;
}

/* ホワイトニングの注意点 */

.p-whitening__inner--w h2{
  color: #333333;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.u-secColor--1{
  background-color: #fff;
}

.l-main__inner__child{
  /* max-width: 1000px; */
  padding: 1rem 1.5rem 2rem;
}

.p-whitening__about__flx{
  background-color: white;
  
}

.p-whitening__about__col--left{
  background-color: white;
  width: 80%;
}

.c-list__title{
  font-size: 22px;
}

p:not(c-list__title){
  font-size: 14px;
}


.c-list__title::before{
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #17aeb6;
  margin-right: 0.5rem;
}

.p-whitening__inner--w{
  text-align: left;
}

.c-list{

  font-weight: 100;
  color: #666666;
}
.c-list li:not(:last-child){
    
    border-bottom: 1px solid #666666;
  
}

.c-hr--green{
  border: 0;
  
}


 .c-list li{
   padding: 0.75rem 0 1rem;
 }

 .u-fs18{
   font-size: 22px;
   

 }





/* 全体の指定 */
/* :root{ */
/* animate: duration 1s; */
/* animate: delay 1s; */
/* animate: repeat 1; */
/* } */

body{
  margin-left: 30px;
  margin-right: 30px;
  
/* padding-left: 50px; */
/* padding-right: 50px; */

  }

/* 歯　もっと詳しく！ */
.pwhitening__about__flx{
  margin-top: 10px;
  margin-bottom: auto;
}

.pwhitening__about__flx{
  /* background-color: aquamarine; */
  /* text-align: center; */
  width: 100%;
  max-width: 600px;
}



.u-txtL{
  margin-top: 0;
}

.u-mt3{
  padding-top: 40px;
 
}


/* 目次 */

.l-main__inner{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
}


nav>ul{
  padding: 0;
  /* text-align: left; */
}




.p-whitening__inner-ttlbox{
  border-top: 1px slategray solid;
}




.js-fadeInSection{
  background-color: aliceblue;
}


.u-secColor--1 ul{
  width: 100%;
}

.u-pb1{
  background-color: aliceblue;
}
.u-pw05{
  border-top: 1px solid;
}

.u-mb1{
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  margin-top: 10px;
  padding-top: 10px;
  color: #646464;
}


.p-whitening__inner--w{
  border-top: 1px solid;
}
aside>.l-main__inner__child{
  width: 100%;
  margin: auto;
}

.foot{
  width: 100%;
margin-bottom: 10px;
border-collapse: collapse;
border-bottom: 1px solid #494949;
line-height: 1;
}
thead{
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
  margin: 0;
    
}
th{
  padding: 12px 0;
  text-align: center;
  display: table-cell;
  width: calc(65%/8);
  margin: 0;
    
}
table{
  border-collapse: collapse;
  color: #494949;
  line-height: 1;
  margin: 0;
    
}
td{
  padding: 14px 0 0;
  text-align: center;
  display: table-cell;
  
  margin: 0;
    
}
.foot{
  margin-bottom: 50px;
}

tbody{
  margin-bottom: 100px;

}
.haikeigazou{
  /* background-image: url(img/haikei.jpeg); */
  background-color: aquamarine;
  margin-top: 15px;
 

}

.tel{
  cursor: pointer;
}

.jusyo{
  cursor: pointer;
}
/* medium screen */
@media(min-width:768px){

  .p-whitening__about__flx{
    display: flex;
  }
  
  .p-whitening__about{
  padding: 40px;

}


.p-whitening__about__col{
  width: 60%;
  padding-left: 40px;
}
.p-whitening__about__sec{
  margin-bottom: 40px;
}



.u-only__sp{
  /* background-color: cadetblue; */
  width: 300px;

}
.p-whitening__about__col--left{
  width: 60%;
  order: -1;

}


.u-mb1
{
  /* background-color: thistle; */
  text-align: center;
font-size: 20px;

}
.asdf{
  text-align: center;
}
 
.u-mt08{
  margin-top: 100px;
  margin-left: 30px;
}
.u-txtL{
  /* background-color: rebeccapurple; */
  font-size: 24px;
}
.c-title__cross{
  font-size: 24px;
}



.u-pw05{
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background-color: aliceblue;
}

.c-box__more{
  margin-bottom: 15px;
}
.u-secColor--6{
  background-color: aliceblue;
}



}

